/* reset */
* {
    margin: 0;
    font-style: normal;
}

body {
    margin: 0 ;
    font-family: sans-serif;
    font-weight: bold;
}
a {
    text-decoration-line: none;
}
a:visited{
    color: black;
}
ul {
    padding-inline-start: 0;
}

/* global */
li {
    list-style: none;
}

/* コンテナ関連 */
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 80px 0px;
}
.container--text_center {
    text-align: center;
    
}

.board {
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
}

.padding--none {
    padding: 0;
}

/* カード */
.card {
    box-sizing: border-box;
}
.card__image {
    width: 100%;
}
.card__text {
    margin-top: 16px;
    padding: 8px 0;
    font-size: 15px;
    line-height: 2;
}

/* 画面のレイアウト */
.display--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.display--grid {
    /* display: grid;
    grid-template-columns: 200px 200px 200px 200px; */
}

.text--emphasize {
    font-size: 32px;
    font-weight: bold;
    color: #f79314;
}

/* 見出し関連 */
.heading_wrapper{
    margin-bottom: 60px;
    position: relative;
}

.heading_wrapper::after {
    content: "";
    display: inline-block;
    height: 7px;
    width: 50px;
    background-color: #f79314;
} 


.content__main {
    width: 540px;
    margin: 0;
    display: inline-block;
}

.content__sub {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    float: right;
    padding-top: 40px;
}

.content__heading {
    font-size: 45px;
    font-weight: bold;

}

.content__heading--smaller {
    font-size: 36px;
}

/* ヘッダー */
#header {
    padding-top: 15px;
    height: 80px;
}

.header__container {
    padding: 0;
}

.global_nav {
 float: right;
}


#header::after{
    content: "";
    clear: both;
}
/* .global_nav__list::after{
    content: "";
    clear: both;
} */

.header .global_nav__list {
    display: flex;
}
.header .global_nav__list li{
 display: inline-block;
 width: 80px;
 margin: 0 20px 0 0;
 text-align: center;
 color: black;
 font-weight: bold;
 font-size: 15px;
 line-height: 15px;
}

.global_nav__text--small {
    font-size: 10px;
}
.global_nav__text--inline_block {
    display: inline-block;
    margin-left: 18px;
}


#top_logo__wrapper {
    display: inline-block;
}

#top_logo{
    width: 180px;
}

#top_hero {
    position: relative;
    background-image: url(images/top-hero.png);
    background-repeat: no-repeat;
    background-position: right;
    background-clip: padding-box;
    background-size: cover;
    height: 570px;
    margin-top: 0;
}
#top_hero_logo {
    width: 350px;
}

.badge_number1 {
    float: right;
}

.top_hero__lead_wrapper {
    height: 490px;
}

.top_hero__container {
    width: 520px;
    margin: 0 auto 0 0;
    padding: 0;
}
#top_hero__lead.top_hero__container{
    position: absolute;
    top: 168px;
}


#badge_number1 {
 float: right;
}

#top_hero .annotation__wrapper {
    position: absolute;
    bottom: 5px;
}

#top_hero .annotation__item {
    font-size: 8px;
    color: silver;
}

/* リンク関連 */
.highlight_link__item {
    display: inline-block;
    background-color: #f79314;
    border-radius: 45px;
    text-align: center;
    padding: 18px 5px;
    width: 330px;
    color: white;
}
.highlight_link__item:visited{
    color: white;
}
.highlight_link__item--2_paragraphs {
    padding: 7px 5px;
}

.highlight_link__item--invert_color {
    color: #f79314;
    background-color: white;
}

#global_nav .highlight_link__item {
    font-size: 12px;
    padding: 12px 5px;
    width: 140px;
}


#about {
    background-color: #f79314;
    color: white;
}

.features__item {
    position: relative;
    margin-top: 50px;
    padding: 40px 20px;
    background-color: rgb(230, 230, 230);
    margin-bottom: 100px;
}

.features__index {
    position: absolute;
    top: -40px;
    left: 425px;
    display: inline-block;
    padding: 15px;
    color: #f79314;
    background-color: rgb(230, 230, 230);
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.features__lead {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.features__heading {
    font-size: 31px;
}

.example_companies__heading {
    display: inline-block;
    font-size: 28px;
    border-bottom: solid 5px #f79314;
    margin: 0 auto;
}

.heading__image {
    display: inline-block;
    height: 39px;
    margin-left: 7px;
}

.example_company_logo {
    width: 200px;
}

.charts {
    display: flex;
}

.charts img{
    width: 230px;
    margin: 0 20px;
}

.mentor_feature {
    padding: 20px;
    margin: 30px auto;
    max-width: 200px;
}

.mentor_heading {

    display: flex;
}

.mentor_image {
    width: 60px;
    height: 60px;
    margin: auto;
}

.mentor_company_logo__wrapper {
    height: 70px;
    margin-bottom: 16px;
}
.mentor_company_logo__wrapper img{
    display: inline-block;
    margin: auto;
}

.mentors_message {
    margin-top: 30px;
}

.balloon {
    position: relative;
    padding: 16px;
    background-color: rgb(230, 230, 230);
}

.balloon::after {
    position: absolute;
    content: "";
    top: -11px;
    left: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent rgb(230, 230, 230) transparent;
}

.courses__container {
    /* padding: 40px; */
    background-color: rgb(230, 230, 230);
    
}
.show_courses .heading_wrapper {
    background-image: url("images/bg-section-top-course.png");
    background-repeat: no-repeat;
    background-position: right;
    background-clip: padding-box;
}

.course__heading {
    
}

.course__heading_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 20px;
    width: 25%;
    position: relative;
    left: -40px;
    border: solid 5px red;
}
.course--career .course__heading_wrapper {
    border: solid 3px #f73614;
}
.course--beginner .course__heading_wrapper {
    border: solid 3px #38e463;
}
.course--open .course__heading_wrapper {
    border: solid 3px #f79314;
}

.course__body {
    text-align: left;
    width: 68%;
    padding: 5px;
}

.course__link_wrapper {
    text-align: right;
}

.course__heading--2_paragraphs {
    margin: 10px 20px;
}

.course__text--highright {
    display: inline-block;
    font-size: 14px;
    padding: 4px 16px 2px 16px;
    background-color: #f79314;
    border-radius: 45px;
    text-align: center;
    color: white;   
}

.course--career .course__heading .course__text--highright{
    background-color: #f73614;
}
.course--beginner .course__heading .course__text--highright{
    background-color: #38e463;
}

.course__body .course__text--highright {
    margin-bottom: 14px;
    display: inline-block;
    font-size: 14px;
    padding: 4px 24px 2px 24px;
    background-color: #3a3a3a;
    border-radius: 45px;
    text-align: center;
    color: white;   
}

.course__body .body__lead {
    margin-bottom: 16px;
}
.course--career .course__body .body__lead{
    color: #f73614;
}
.course--beginner .course__body .body__lead{
    color: #38e463;
}
.course--open .course__body .body__lead{
    color: #f79314;
}

.course__body .list__item::before {
    display: inline-block;
    position: relative;
    left: -5px;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f79314;
}

.course__body .link {
    font-size: 14px;
    color: #929292;
}

.course__body .link::after {
    display: inline-block;
    position: relative;
    left: 5px;
    content: ">";
    color: #f79314;
}

.message {
    background-color: rgb(245 245 242);
}

.message .board {
    padding-top: 40px;
    background-color: white;
    position: relative;
    max-width: 700px;
}

.message .inner__heading {
    position: absolute;
    top: -34px;
    font-size: 52px;
    color: #f79314;
}

.message .display--flex {
    flex-direction: row-reverse;
}



.message .display__item--right {
    position: absolute;
    top: 60px;
    right: -280px;
}

.message .text__wrapper {
    display: inline-block;
    max-width: 560px;
} 

.message .text {
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 40px;
}



/* エリア：受講生の声 */
/* .students_feedbacks .display--flex{
    justify-content: space-between;
} */
.students_feedbacks .board {
    padding: 20px 0;
}

.students_feedbacks .card {
    width: 300px;
}

.students_feedbacks .card__display {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    text-align: center;
}

.students_feedbacks .card__image {
    width: 400px;
    position: relative;
    left: -50px;
}
.students_feedbacks .card__image:hover{
    transform: scale(1.12,1.12);
    position: relative;
    left: -50px;
    transition: 0.3s;
}

.students_feedbacks .card__title {
    box-sizing: border-box;
    padding: 50px 10px 10px 10px;
    width: 300px;
    position: absolute;
    bottom: 0;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
}

.students_feedbacks .heading .heading__text--main {
    font-size: 18px;
    font-weight: bold;
    color: #f79314;
    border-bottom: solid white 1px;
    margin-bottom: 5px;
}

.students_feedbacks .heading .heading__text--sub {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.students_feedbacks .heading .heading__text--sub .heading__text--small {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.students_feedbacks .card__text {
    padding: 10px 0;
    font-size: 15px;
}


/* エリア：その他のサービス */
.other_service {
    background-color: #f6f6f6;
}

.other_service .board {
    padding: 20px 0;
    background-color: transparent;
}

.other_service .card{
    width: 300px;
}

.other_service .card__display {
    background-color: white;
    padding: 50px 20px 20px;
    height: 180px;
    box-sizing: border-box;
    border-radius: 16px;
    border: #f79314 solid 2px;
    overflow: hidden;
}

.other_service .card__display--potepan_freelance {
    border-color: #f79314;
}
.other_service .card__display--potepan_career {
    border-color: #38e463;
}
.other_service .card__display--potepan_style {
    border-color: #333333;
}

.other_service .card__image:hover {
    transform: scale(1.05,1.05);
    transition: 0.3s;
}

/* フッター */
.footer {
    color: white;
    background-color: #f79314;
}

.footer .container {
    position: relative;
}

.footer .board {
    position: relative;
    background-color: transparent;
    padding: 0;
    overflow: hidden;
}
footer .board::after{
    content: "";
    clear: both;
}

.footer .board__container--main {
    width: 650px;
}

.footer .board__container--sub{
    width: 250px;
}

.footer .board__item--left {
    width: 300px;
    float: left;
}

.footer .board__item--right {
    width: 300px;
    float: right;
    text-align: right;
}

.footer .address .company_logo{
    width: 100%;
}

.footer .global_nav a:visited{
    color: white;
}
.footer .global_nav__list li {
    margin-bottom: 40px;
    color: white;
}
.footer .global_nav__list li:last-child{
    margin-bottom: 0;
}

.footer .address__text {
    margin: 20px 0;
}

.footer .button--round {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer .link--to_top {
    background-color: white;
    box-sizing: border-box;
    color: #f79314;
    font-size: 28px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: -25px;
    text-align: center; 
    /* box-shadow: 0px 5px 5px #424242;    */
}
.footer .link--to_top:hover{
    background-color: #f79314;
    color: white;
}

.footer .social_link {
    margin-top: 40px;
}

.footer .social_link__image {
    display: inline-block;
    margin-right: 16px;
    width: 60px;
}

.footer .mascot_image {
    width: 130px;
    position: absolute;
    right: 0;
    bottom: 0;
}